<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Dashboard</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet">

    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/config.js"></script>
</head>
<body>
    <div id="navbar">


        <nav>
            <div class="brand">
                <a asp-controller="Home" asp-action="Index" target="_blank">
                    <div class="icon-bg">
                        <img src="" width="45" height="45">
                    </div>
                    <h3></h3>
                </a>
            </div>

            <ul class="nvb-menu">
            </ul>
        </nav>
    </div>

    @{
        string generalActive = "", blogActive = "", categoryActive = "", settingActive = "", commentActive = "", emailRegActive = "";
        if (ViewBag.SidebarActive == "General") { generalActive = "sb-active"; }
        if (ViewBag.SidebarActive == "Blog") { blogActive = "sb-active"; }
        if (ViewBag.SidebarActive == "Category") { categoryActive = "sb-active"; }
        if (ViewBag.SidebarActive == "Comment") { commentActive = "sb-active"; }
        if (ViewBag.SidebarActive == "EmailRegistration") { emailRegActive = "sb-active"; }
        if (ViewBag.SidebarActive == "Setting") { settingActive = "sb-active"; }
    }

    <div id="sidebar">
        <aside>
            <ul class="aside-menu">
                <li>
                    <a class="sb-openandclose" onclick="sbOpenClose()">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" id="sbclose" enable-background="new 0 0 56.689 56.689" viewBox="0 0 56.689 56.689" xmlns="http://www.w3.org/2000/svg"><g><path d="m6.992 31.057 8.645 8.645c.722.725 1.683 1.122 2.706 1.122 1.022 0 1.983-.397 2.707-1.122.723-.724 1.121-1.685 1.121-2.706 0-1.022-.398-1.983-1.121-2.706l-2.117-2.118h17.687c2.109 0 3.827-1.717 3.827-3.827s-1.718-3.828-3.827-3.828h-17.687l2.116-2.116c1.491-1.491 1.491-3.921 0-5.413-1.445-1.444-3.967-1.444-5.412 0l-8.652 8.65c-.217.257-.981 1.221-.993 2.67-.013 1.501.788 2.5 1 2.749zm1.52-4.115 8.54-8.541c.689-.688 1.895-.688 2.584 0 .712.713.712 1.872 0 2.585l-5.53 5.53h22.514c1.008 0 1.827.82 1.827 1.828s-.819 1.827-1.827 1.827h-22.516l5.531 5.531c.712.713.712 1.871 0 2.584-.691.69-1.896.69-2.584 0l-8.648-8.647c-.092-.109-.527-.651-.467-1.441.053-.7.462-1.14.576-1.256zm42.313-22.305v47.417h-23.916c-.554 0-1-.447-1-1s.446-1 1-1h21.916v-43.417h-22c-.554 0-1-.447-1-1s.446-1 1-1z" /></g></svg>
                        <svg fill="white" width="25" height="25" id="sbopen" enable-background="new 0 0 56.689 56.689" viewBox="0 0 56.689 56.689" xmlns="http://www.w3.org/2000/svg"><g><path d="m39.405 25.716-8.729-8.729c-1.446-1.444-3.967-1.443-5.412.001-1.491 1.492-1.491 3.922 0 5.413l2.116 2.116h-17.686c-2.109 0-3.827 1.717-3.827 3.828 0 2.11 1.718 3.827 3.827 3.827h17.688l-2.117 2.117c-.723.723-1.121 1.684-1.121 2.706 0 1.021.398 1.982 1.121 2.706.724.724 1.686 1.121 2.707 1.121 1.023.001 1.983-.396 2.704-1.119l8.643-8.643c.19-.189 1.097-1.131 1.13-2.633.033-1.53-.865-2.521-1.044-2.711zm-1.496 3.928-8.646 8.646c-.687.688-1.892.689-2.583-.001-.714-.714-.714-1.872-.002-2.585l5.531-5.531h-22.515c-1.008 0-1.827-.819-1.827-1.827s.819-1.828 1.827-1.828v-.002h22.515l-5.531-5.53c-.712-.713-.712-1.872 0-2.585.689-.689 1.894-.689 2.583-.001l8.656 8.655c.083.084.558.582.531 1.354-.024.698-.442 1.138-.539 1.235zm12.916-25.007v47.417h-.001-23.915c-.554 0-1-.447-1-1s.446-1 1-1h21.916v-43.417h-22c-.554 0-1-.447-1-1 0-.552.446-1 1-1z" /></g></svg>
                    </a>
                </li>
                <li>
                    <a asp-controller="General" asp-action="Index" class="menu-item @generalActive">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg"><path d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm207.566406 324.078125-68.253906 11.777344c7.8125-28.652344 12.03125-58.164063 12.558594-87.855469h71.929687c-.902343 26.117188-6.398437 51.871094-16.234375 76.078125zm-431.367187-76.078125h71.929687c.527344 29.691406 4.746094 59.203125 12.558594 87.855469l-68.253906-11.777344c-9.835938-24.207031-15.332032-49.960937-16.234375-76.078125zm16.234375-92.078125 68.253906-11.777344c-7.8125 28.652344-12.03125 58.164063-12.558594 87.855469h-71.929687c.902343-26.117188 6.398437-51.871094 16.234375-76.078125zm215.566406-27.472656c28.746094.367187 57.421875 2.984375 85.761719 7.832031l28.238281 4.871094c8.675781 29.523437 13.34375 60.078125 13.878906 90.847656h-127.878906zm88.488281-7.9375c-29.238281-4.996094-58.828125-7.695313-88.488281-8.0625v-96c45.863281 4.40625 85.703125 46.398437 108.28125 107.511719zm-104.488281-8.0625c-29.660156.367187-59.242188 3.066406-88.480469 8.0625l-19.800781 3.425781c22.578125-61.128906 62.417969-103.136719 108.28125-107.523438zm-85.753906 23.832031c28.335937-4.847656 57.007812-7.464844 85.753906-7.832031v103.550781h-127.878906c.535156-30.769531 5.203125-61.324219 13.878906-90.847656zm-42.125 111.71875h127.878906v103.550781c-28.746094-.367187-57.421875-2.984375-85.761719-7.832031l-28.238281-4.871094c-8.675781-29.523437-13.34375-60.078125-13.878906-90.847656zm39.390625 111.488281c29.238281 5.003907 58.824219 7.714844 88.488281 8.105469v96c-45.863281-4.410156-85.703125-46.402344-108.28125-107.515625zm104.488281 8.105469c29.660156-.390625 59.242188-3.101562 88.480469-8.105469l19.800781-3.425781c-22.578125 61.128906-62.417969 103.136719-108.28125 107.523438zm85.753906-23.875c-28.335937 4.847656-57.007812 7.464844-85.753906 7.832031v-103.550781h127.878906c-.535156 30.769531-5.203125 61.324219-13.878906 90.847656zm58.117188-111.71875c-.527344-29.691406-4.746094-59.203125-12.558594-87.855469l68.253906 11.777344c9.835938 24.207031 15.332032 49.960937 16.234375 76.078125zm47.601562-93.710938-65.425781-11.289062c-11.761719-38.371094-33.765625-72.808594-63.648437-99.601562 55.878906 18.648437 102.21875 58.457031 129.074218 110.890624zm-269.871094-110.890624c-29.882812 26.792968-51.886718 61.230468-63.648437 99.601562l-65.425781 11.289062c26.855468-52.433593 73.195312-92.242187 129.074218-110.890624zm-129.074218 314.3125 65.425781 11.289062c11.761719 38.371094 33.765625 72.808594 63.648437 99.601562-55.878906-18.648437-102.21875-58.457031-129.074218-110.890624zm269.871094 110.890624c29.882812-26.792968 51.886718-61.230468 63.648437-99.601562l65.425781-11.289062c-26.855468 52.433593-73.195312 92.242187-129.074218 110.890624zm0 0" /></svg>
                        <p>Genel</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Blog" asp-action="List" class="menu-item @blogActive">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" viewBox="0 -48 511.99864 511" xmlns="http://www.w3.org/2000/svg"><path d="m24.859375 312.96875c3.820313 1.910156 7.933594 3.230469 12.175781 3.96875l-6.609375 9.4375c-1.335937 1.910156-2.207031 4.101562-2.550781 6.402344l-9.839844 66.359375c-.832031 5.621093 1.578125 11.230469 6.234375 14.488281 4.660157 3.261719 10.753907 3.605469 15.746094.902344l55.574219-30.09375c7.675781 13.867187 22.457031 23.28125 39.398437 23.28125 11.515625 0 22.035157-4.347656 30-11.484375 7.96875 7.136719 18.488281 11.484375 30 11.484375 24.816407 0 45.003907-20.1875 45.003907-45v-5.742188c27.902343 13.578125 58.972656 20.742188 90 20.742188 32.050781 0 63.835937-7.351563 92.003906-21.246094v36.246094c0 5.199218 2.691406 10.027344 7.113281 12.761718 4.414063 2.726563 9.9375 2.984376 14.59375.65625l60.003906-30c5.082031-2.542968 8.292969-7.734374 8.292969-13.417968v-180.003906c0-8.285157-6.71875-15-15-15-23.894531 0-81.863281 0-103.53125 0l-105.816406-51.777344 40.203125-57.414063c4.746093-6.78125 3.101562-16.140625-3.6875-20.890625l-49.148438-34.417968c-6.78125-4.746094-16.140625-3.101563-20.890625 3.683593-6.351562 9.070313-46.882812 66.957031-53.191406 75.964844-12.304688-6.464844-27.058594-6.433594-36.417969-2.371094l-57.078125 24.796875c-8.273437 3.597656-15.207031 9.519532-20.042968 17.132813l-81.90625 128.828125c-5.320313 8.371094-7.523438 22.734375-3.203126 35.699218 3.800782 11.402344 11.816407 20.644532 22.570313 26.023438zm27.253906 60.894531 4.921875-33.179687 13.414063-19.160156c5.75 8.394531 13.574219 15.25 22.730469 19.84375l-11.570313 16.523437zm82.875 3.855469c-8.269531 0-15-6.730469-15-15.003906v-7.332032l5.371094-7.667968h24.628906v15c0 8.273437-6.726562 15.003906-15 15.003906zm60.003907 0c-8.273438 0-15-6.730469-15-15.003906v-15h30v15c0 8.273437-6.730469 15.003906-15 15.003906zm287.007812-24.273438-30.003906 15v-170.734374h30.003906zm-98.597656-157.261718c2.054687 1.003906 4.308594 1.527344 6.59375 1.527344h32v125.53125c-10.109375 3.929687-41.5 24.472656-92 24.472656-53.535156 0-86.507813-23.710938-98.296875-28.417969-2.140625-1.070313-4.5-1.582031-6.707031-1.582031h-105.003907c-15.339843 0-28.019531-11.574219-29.78125-26.449219.46875-2.175781.425781-4.410156-.070312-6.546875 1.507812-15.140625 14.320312-27.003906 29.851562-27.003906h92.578125c31.363282 0 60.855469-12.214844 83.035156-34.394532 5.855469-5.859374 5.855469-15.355468 0-21.214843-5.859374-5.859375-15.355468-5.859375-21.214843 0-16.515625 16.511719-38.46875 25.609375-61.820313 25.609375h-3.179687l60.84375-86.898438zm-147.71875-110.640625 24.574218 17.210937-87.496093 124.960938h-36.625c12.753906-18.214844 87.847656-125.460938 99.546875-142.171875zm34.414062-49.148438 24.578125 17.207031-17.210937 24.578126-24.574219-17.210938zm-238.804687 230.1875 81.421875-128.066406c1.613281-2.539063 3.925781-4.511719 6.683594-5.710937l56.363281-24.488282c2.503906-.734375 5.085937-.785156 7.523437-.242187l-87.289062 124.660156c-18.449219 8.082031-32.082032 25.175781-35.285156 45.691406-2.742188 7.703125-14.660157 11.59375-22.433594 7.707031-7.316406-3.65625-10.222656-12.339843-6.984375-19.550781zm0 0" /></svg>
                        <p>Bloglar</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Category" asp-action="List" class="menu-item @categoryActive">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 504.992 504.992" xml:space="preserve">
                        <g>
                        <g>
                        <g>
                        <path d="M504.992,172.496L252.496,1.168L0,172.496l252.496,171.328L504.992,172.496z M252.496,39.824L448,172.496
				                            L252.496,305.168L56.992,172.496L252.496,39.824z" />







                        <rect x="78.695" y="281.429" transform="matrix(-0.5615 0.8275 -0.8275 -0.5615 393.987 386.0598)" width="32" height="32" />







                        <polygon points="252.496,385.168 143.392,311.136 125.424,337.616 252.496,423.824 485.488,265.744 467.504,239.248 			" />







                        <rect x="25.735" y="245.494" transform="matrix(-0.5615 0.8275 -0.8275 -0.5615 281.556 373.7735)" width="32" height="32" />







                        <polygon points="252.496,465.168 37.488,319.248 19.504,345.744 252.496,503.824 485.488,345.744 467.504,319.248 			" />







		                            </g>
	                            </g>
                            </g>
                        </svg>

                        <p>Kategoriler</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Comment" asp-action="Index" class="menu-item @commentActive">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" viewBox="0 0 512.00095 512" xmlns="http://www.w3.org/2000/svg"><path d="m255 202c11.046875 0 20 8.953125 20 20s-8.953125 20-20 20-20-8.953125-20-20 8.953125-20 20-20zm70 20c0 11.046875 8.953125 20 20 20s20-8.953125 20-20-8.953125-20-20-20-20 8.953125-20 20zm-180 0c0 11.046875 8.953125 20 20 20s20-8.953125 20-20-8.953125-20-20-20-20 8.953125-20 20zm349.414062 187.5625c23.40625 23.40625 23.40625 61.46875.011719 84.863281-11.695312 11.695313-27.0625 17.546875-42.425781 17.546875s-30.730469-5.851562-42.425781-17.546875l-109.789063-109.542969c-2.332031-2.328124-4.050781-5.191406-5.007812-8.347656l-23.914063-78.722656c-2.121093-6.980469-.273437-14.558594 4.820313-19.78125 5.09375-5.21875 12.625-7.25 19.65625-5.304688l80.722656 22.359376c3.324219.921874 6.351562 2.683593 8.792969 5.121093zm-162.824218-49.453125 74.089844 73.925781 28.289062-28.289062-73.652344-73.511719-40.609375-11.25zm134.550781 77.75-3.859375-3.855469-28.285156 28.285156 3.847656 3.835938c7.8125 7.816406 20.5 7.816406 28.296875.015625 7.800781-7.796875 7.800781-20.484375 0-28.28125zm-199.015625-23.40625c-3.695312.160156-7.4375.242187-11.125.242187-32.160156 0-63.121094-5.988281-92.019531-17.796874-4.921875-2.007813-10.445313-1.976563-15.34375.089843l-91.066407 38.441407 30.683594-72.683594c3-7.105469 1.644532-15.308594-3.488281-21.074219-29.285156-32.898437-44.765625-72.261719-44.765625-113.824219 0-103.578125 96.898438-187.847656 216-187.847656s216 84.269531 216 187.847656c0 24.5625-6.03125 49.222656-17.929688 73.289063-4.894531 9.902343-.835937 21.898437 9.066407 26.792969 9.902343 4.894531 21.898437.835937 26.792969-9.066407 14.644531-29.628906 22.070312-60.25 22.070312-91.015625 0-125.636718-114.839844-227.847656-256-227.847656-141.15625 0-256 102.210938-256 227.847656 0 47.421875 16.078125 92.332032 46.636719 130.632813l-45.0625 106.742187c-3.164063 7.496094-1.46875 16.164063 4.285156 21.917969 3.828125 3.828125 8.941406 5.859375 14.144531 5.859375 2.621094 0 5.265625-.515625 7.773438-1.574219l128.929687-54.425781c31.445313 11.746094 64.808594 17.695312 99.292969 17.695312 4.265625 0 8.597656-.097656 12.875-.28125 11.035156-.484374 19.589844-9.820312 19.105469-20.855468-.480469-11.035156-9.835938-19.617188-20.855469-19.105469zm0 0" /></svg>
                        <p>Yorumlar</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="EmailRegistration" asp-action="Index" class="menu-item @emailRegActive">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                         viewBox="0 0 512 512" xml:space="preserve">
	                        <g>
		                        <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256c68.385,0,132.667-26.625,181.021-74.979
			                        c4.167-4.167,4.167-10.917,0-15.083c-4.167-4.167-10.917-4.167-15.083,0C377.615,466.26,318.688,490.667,256,490.667
			                        C126.604,490.667,21.333,385.396,21.333,256S126.604,21.333,256,21.333S490.667,126.604,490.667,256v21.333
			                        c0,35.292-28.708,64-64,64s-64-28.708-64-64v-96c0-5.896-4.771-10.667-10.667-10.667c-5.896,0-10.667,4.771-10.667,10.667v11.327
			                        c-19.461-26.138-50.319-43.327-85.333-43.327c-58.813,0-106.667,47.854-106.667,106.667S197.188,362.667,256,362.667
			                        c39.229,0,73.206-21.53,91.734-53.163c12.737,31.132,43.271,53.163,78.932,53.163c47.052,0,85.333-38.281,85.333-85.333V256
			                        C512,114.844,397.156,0,256,0z M256,341.333c-47.052,0-85.333-38.281-85.333-85.333s38.281-85.333,85.333-85.333
			                        s85.333,38.281,85.333,85.333S303.052,341.333,256,341.333z"/>
	                        </g>
                        </svg>
                        <p>E-Posta Kayıtları</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="Setting" asp-action="Index" class="menu-item @settingActive">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m90.050781 395.949219c-7.167969 0-14.058593 1.789062-20.171875 5.148437-32.203125-41.28125-49.878906-92.5625-49.878906-145.097656 0-130.132812 105.867188-236 236-236 15.820312 0 31.632812 1.574219 47 4.679688 5.40625 1.09375 10.6875-2.40625 11.78125-7.820313s-2.40625-10.6875-7.820312-11.785156c-16.667969-3.367188-33.8125-5.074219-50.960938-5.074219-68.378906 0-132.667969 26.628906-181.019531 74.980469-48.351563 48.351562-74.980469 112.640625-74.980469 181.019531 0 57.519531 19.53125 113.652344 55.089844 158.652344-4.578125 6.839844-7.039063 14.878906-7.039063 23.296875 0 11.21875 4.371094 21.765625 12.304688 29.695312 7.929687 7.933594 18.476562 12.304688 29.695312 12.304688s21.765625-4.371094 29.699219-12.304688c7.933594-7.929687 12.300781-18.480469 12.300781-29.699219 0-11.214843-4.367187-21.765624-12.300781-29.695312-7.933594-7.933594-18.480469-12.300781-29.699219-12.300781zm15.554688 57.554687c-4.152344 4.15625-9.679688 6.445313-15.554688 6.445313s-11.398437-2.289063-15.554687-6.445313-6.445313-9.679687-6.445313-15.554687c0-5.878907 2.289063-11.402344 6.445313-15.558594 4.152344-4.15625 9.679687-6.441406 15.554687-6.441406s11.398438 2.289062 15.554688 6.441406c4.15625 4.15625 6.445312 9.679687 6.445312 15.558594 0 5.875-2.289062 11.398437-6.445312 15.554687zm0 0" /><path d="m456.902344 97.335938c10.871094-16.308594 9.125-38.605469-5.253906-52.984376-7.933594-7.929687-18.480469-12.300781-29.699219-12.300781s-21.765625 4.371094-29.699219 12.300781c-7.933594 7.933594-12.300781 18.480469-12.300781 29.699219s4.367187 21.765625 12.300781 29.699219 18.480469 12.300781 29.699219 12.300781c7.167969 0 14.058593-1.789062 20.171875-5.148437 32.203125 41.285156 49.878906 92.5625 49.878906 145.097656 0 130.132812-105.867188 236-236 236-15.664062 0-31.328125-1.542969-46.550781-4.589844-5.414063-1.082031-10.683594 2.429688-11.769531 7.84375-1.082032 5.417969 2.429687 10.683594 7.84375 11.769532 16.511718 3.300781 33.496093 4.976562 50.476562 4.976562 68.378906 0 132.667969-26.628906 181.019531-74.980469 48.351563-48.351562 74.980469-112.640625 74.980469-181.019531 0-57.523438-19.535156-113.660156-55.097656-158.664062zm-50.507813-7.726563c-4.15625-4.15625-6.445312-9.679687-6.445312-15.558594 0-5.875 2.289062-11.398437 6.445312-15.554687 4.152344-4.15625 9.679688-6.445313 15.554688-6.445313s11.402343 2.289063 15.558593 6.445313c8.574219 8.578125 8.574219 22.535156 0 31.113281-4.15625 4.152344-9.683593 6.441406-15.558593 6.441406-5.878907 0-11.402344-2.289062-15.554688-6.441406zm0 0" /><path d="m214.734375 428c0 5.523438 4.480469 10 10 10h62.527344c5.523437 0 10-4.476562 10-10v-19.386719c13.148437-3.539062 25.71875-8.75 37.53125-15.554687l13.6875 13.6875c1.875 1.875 4.417969 2.929687 7.074219 2.929687 2.648437 0 5.195312-1.054687 7.070312-2.933593l44.195312-44.226563c3.902344-3.90625 3.902344-10.238281 0-14.140625l-13.671874-13.671875c6.804687-11.8125 12.015624-24.382813 15.554687-37.53125h19.3125c5.523437 0 10-4.476563 10-10v-62.527344c0-5.523437-4.476563-10-10-10h-19.316406c-3.539063-13.144531-8.746094-25.714843-15.550781-37.527343l13.597656-13.597657c1.875-1.875 2.929687-4.421875 2.929687-7.074219-.003906-2.652343-1.058593-5.199218-2.933593-7.074218l-44.230469-44.195313c-3.902344-3.902343-10.234375-3.902343-14.140625.003907l-13.578125 13.582031c-11.8125-6.804688-24.382813-12.015625-37.53125-15.554688v-19.207031c0-5.523438-4.476563-10-10-10h-62.527344c-5.519531 0-10 4.476562-10 10v19.210938c-13.144531 3.535156-25.714844 8.746093-37.527344 15.550781l-13.582031-13.582031c-3.902344-3.902344-10.234375-3.90625-14.140625-.003907l-44.226563 44.199219c-1.878906 1.875-2.933593 4.417969-2.933593 7.070312 0 2.652344 1.054687 5.199219 2.929687 7.074219l13.597656 13.597657c-6.804687 11.8125-12.015624 24.378906-15.554687 37.527343h-19.277344c-5.523437 0-10 4.476563-10 9.996094l-.035156 62.527344c-.003906 2.652343 1.050781 5.199219 2.925781 7.074219s4.417969 2.929687 7.074219 2.929687h19.3125c3.539063 13.148437 8.75 25.71875 15.554687 37.53125l-13.671874 13.671875c-3.902344 3.902344-3.90625 10.234375 0 14.140625l44.195312 44.226563c1.875 1.875 4.417969 2.933593 7.070312 2.933593h.003907c2.652343 0 5.195312-1.054687 7.070312-2.929687l13.683594-13.6875c11.816406 6.804687 24.386719 12.015625 37.53125 15.554687zm-33.609375-55.972656c-3.957031-2.558594-9.164062-2.003906-12.5 1.328125l-12.175781 12.175781-30.058594-30.082031 12.164063-12.167969c3.332031-3.332031 3.886718-8.539062 1.328124-12.496094-9.066406-14.03125-15.441406-29.410156-18.941406-45.714844-.992187-4.605468-5.0625-7.898437-9.777344-7.898437h-17.175781l.023438-42.527344h17.152343c4.714844 0 8.785157-3.289062 9.777344-7.898437 3.5-16.300782 9.875-31.679688 18.941406-45.710938 2.558594-3.957031 2.003907-9.164062-1.328124-12.496094l-12.085938-12.089843 30.082031-30.058594 12.074219 12.078125c3.335938 3.332031 8.539062 3.882812 12.5 1.328125 14.027344-9.066406 29.40625-15.441406 45.710938-18.941406 4.605468-.992188 7.898437-5.066407 7.898437-9.777344v-17.078125h42.527344v17.074219c0 4.714843 3.289062 8.789062 7.898437 9.777343 16.300782 3.503907 31.683594 9.875 45.710938 18.941407 3.957031 2.558593 9.164062 2.007812 12.496094-1.328125l12.078124-12.074219 30.082032 30.058594-12.085938 12.085937c-3.335937 3.335938-3.886718 8.542969-1.328125 12.5 9.066407 14.03125 15.4375 29.410156 18.941407 45.710938.988281 4.609375 5.0625 7.898437 9.777343 7.898437h17.183594v42.527344h-17.183594c-4.714843 0-8.785156 3.292969-9.777343 7.898437-3.5 16.300782-9.875 31.683594-18.941407 45.710938-2.558593 3.960938-2.003906 9.167969 1.328125 12.5l12.164063 12.164062-30.058594 30.082032-12.175781-12.171875c-3.335938-3.335938-8.542969-3.886719-12.5-1.328125-14.03125 9.066406-29.410156 15.4375-45.710938 18.941406-4.609375.992188-7.898437 5.0625-7.898437 9.777344v17.253906h-42.527344v-17.253906c0-4.710938-3.292969-8.785156-7.898437-9.777344-16.300782-3.5-31.679688-9.875-45.710938-18.941406zm0 0" /><path d="m338.628906 256c0-45.5625-37.066406-82.628906-82.628906-82.628906s-82.628906 37.066406-82.628906 82.628906 37.066406 82.628906 82.628906 82.628906 82.628906-37.066406 82.628906-82.628906zm-145.257812 0c0-34.535156 28.09375-62.628906 62.628906-62.628906s62.628906 28.097656 62.628906 62.628906-28.09375 62.628906-62.628906 62.628906-62.628906-28.09375-62.628906-62.628906zm0 0" /><path d="m348.078125 37.820312c2.632813 0 5.210937-1.070312 7.070313-2.929687 1.859374-1.871094 2.929687-4.449219 2.929687-7.082031 0-2.617188-1.066406-5.199219-2.929687-7.070313-1.859376-1.859375-4.4375-2.929687-7.070313-2.929687-2.640625 0-5.207031 1.070312-7.066406 2.929687-1.863281 1.871094-2.933594 4.441407-2.933594 7.070313 0 2.640625 1.070313 5.210937 2.933594 7.082031 1.859375 1.859375 4.425781 2.929687 7.066406 2.929687zm0 0" /><path d="m164.359375 474.359375c-2.628906 0-5.210937 1.070313-7.070313 2.929687-1.859374 1.859376-2.929687 4.441407-2.929687 7.070313 0 2.640625 1.070313 5.210937 2.929687 7.070313 1.859376 1.859374 4.441407 2.929687 7.070313 2.929687s5.210937-1.070313 7.070313-2.929687c1.859374-1.859376 2.929687-4.441407 2.929687-7.070313s-1.070313-5.210937-2.929687-7.070313c-1.859376-1.859374-4.441407-2.929687-7.070313-2.929687zm0 0" /></svg>
                        <p>Ayarlar</p>
                    </a>
                </li>
                <li>
                    <a asp-controller="LoginDash" asp-action="Logout"  class="menu-item">
                        <div class="svg-bg"></div>
                        <svg fill="white" width="25" height="25" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 512c-141.160156 0-256-114.839844-256-256s114.839844-256 256-256 256 114.839844 256 256-114.839844 256-256 256zm0-475.429688c-120.992188 0-219.429688 98.4375-219.429688 219.429688s98.4375 219.429688 219.429688 219.429688 219.429688-98.4375 219.429688-219.429688-98.4375-219.429688-219.429688-219.429688zm0 0" /><path d="m347.429688 274.285156h-182.859376c-10.097656 0-18.285156-8.1875-18.285156-18.285156s8.1875-18.285156 18.285156-18.285156h182.859376c10.097656 0 18.285156 8.1875 18.285156 18.285156s-8.1875 18.285156-18.285156 18.285156zm0 0" /></svg>
                        <p>Çıkış</p>
                    </a>
                </li>
            </ul>
        </aside>
    </div>

    <div id="main">
        <section>
            @RenderBody()
        </section>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/dashboard.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>