@model IEnumerable<BlogCommentJoin>

@{
    ViewData["Title"] = "UnApprovedComments";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div class="blogs datalist">
    <div class="wayLine">
        <a asp-controller="General" asp-action="Index" style="text-decoration: none;">
            <svg width="16" height="16" style="fill:#C64444;" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg"><path d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240 240-107.453125 240-240c-.148438-132.484375-107.515625-239.851562-240-240zm207.566406 324.078125-68.253906 11.777344c7.8125-28.652344 12.03125-58.164063 12.558594-87.855469h71.929687c-.902343 26.117188-6.398437 51.871094-16.234375 76.078125zm-431.367187-76.078125h71.929687c.527344 29.691406 4.746094 59.203125 12.558594 87.855469l-68.253906-11.777344c-9.835938-24.207031-15.332032-49.960937-16.234375-76.078125zm16.234375-92.078125 68.253906-11.777344c-7.8125 28.652344-12.03125 58.164063-12.558594 87.855469h-71.929687c.902343-26.117188 6.398437-51.871094 16.234375-76.078125zm215.566406-27.472656c28.746094.367187 57.421875 2.984375 85.761719 7.832031l28.238281 4.871094c8.675781 29.523437 13.34375 60.078125 13.878906 90.847656h-127.878906zm88.488281-7.9375c-29.238281-4.996094-58.828125-7.695313-88.488281-8.0625v-96c45.863281 4.40625 85.703125 46.398437 108.28125 107.511719zm-104.488281-8.0625c-29.660156.367187-59.242188 3.066406-88.480469 8.0625l-19.800781 3.425781c22.578125-61.128906 62.417969-103.136719 108.28125-107.523438zm-85.753906 23.832031c28.335937-4.847656 57.007812-7.464844 85.753906-7.832031v103.550781h-127.878906c.535156-30.769531 5.203125-61.324219 13.878906-90.847656zm-42.125 111.71875h127.878906v103.550781c-28.746094-.367187-57.421875-2.984375-85.761719-7.832031l-28.238281-4.871094c-8.675781-29.523437-13.34375-60.078125-13.878906-90.847656zm39.390625 111.488281c29.238281 5.003907 58.824219 7.714844 88.488281 8.105469v96c-45.863281-4.410156-85.703125-46.402344-108.28125-107.515625zm104.488281 8.105469c29.660156-.390625 59.242188-3.101562 88.480469-8.105469l19.800781-3.425781c-22.578125 61.128906-62.417969 103.136719-108.28125 107.523438zm85.753906-23.875c-28.335937 4.847656-57.007812 7.464844-85.753906 7.832031v-103.550781h127.878906c-.535156 30.769531-5.203125 61.324219-13.878906 90.847656zm58.117188-111.71875c-.527344-29.691406-4.746094-59.203125-12.558594-87.855469l68.253906 11.777344c9.835938 24.207031 15.332032 49.960937 16.234375 76.078125zm47.601562-93.710938-65.425781-11.289062c-11.761719-38.371094-33.765625-72.808594-63.648437-99.601562 55.878906 18.648437 102.21875 58.457031 129.074218 110.890624zm-269.871094-110.890624c-29.882812 26.792968-51.886718 61.230468-63.648437 99.601562l-65.425781 11.289062c26.855468-52.433593 73.195312-92.242187 129.074218-110.890624zm-129.074218 314.3125 65.425781 11.289062c11.761719 38.371094 33.765625 72.808594 63.648437 99.601562-55.878906-18.648437-102.21875-58.457031-129.074218-110.890624zm269.871094 110.890624c29.882812-26.792968 51.886718-61.230468 63.648437-99.601562l65.425781-11.289062c-26.855468 52.433593-73.195312 92.242187-129.074218 110.890624zm0 0" /></svg>
        </a>
        <span>></span>
        <a asp-action="Index" class="wayBefore">Yorumlar</a>
        <span>></span>
        <a asp-action="UnApprovedComments" class="wayNow">Onaylanmamış Yorumlar</a>
    </div>

    @if (ViewBag.DeleteCommentSuccess != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @ViewBag.DeleteCommentSuccess
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (ViewBag.DeleteCommentError != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.DeleteCommentError
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col">
                <div class="table-responsive">

                    <table id="UnApprovedCommentsTable" class="display cell-border compact">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">TARİH</th>
                                <th scope="col">BLOG BAŞLIĞI</th>
                                <th scope="col">YORUMU YAPAN</th>
                                <th scope="col">KİŞİSİNE CEVAP</th>
                                <th scope="col">E-POSTA</th>
                                <th scope="col">YORUM İÇERİĞİ</th>
                                <th scope="col">DURUM</th>
                                <th scope="col">ONAY/YANIT</th>
                                <th scope="col">SİL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var count = 1;}
                            @foreach (var item in Model)
                            {
                                <tr id="table_row_id_@count">
                                    <td>@count</td>
                                    <td>@item.CreateTime</td>
                                    <td>
                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.BlogId" target="_blank">@item.BlogTitle</a>
                                    </td>
                                    <td>@item.Fullname</td>
                                    <td>@item.AnswerToName</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a class="readComment" onclick="openCommentDialog(this,@item.CommentId)" style="cursor:pointer"><svg height="24" width="24" viewBox="0 0 58 58" xmlns="http://www.w3.org/2000/svg"><g id="Page-1" fill="none" fill-rule="evenodd"><g id="027---Literature-Chat" fill-rule="nonzero"><path id="Shape" d="m42 39.91v7.09c0 2.209139-1.790861 4-4 4h-20.418c-.3802081-.0002051-.7525334.1084042-1.073.313l-10.509 6.687v-5c0-1.1045695-.8954305-2-2-2-2.209139 0-4-1.790861-4-4v-26c0-2.209139 1.790861-4 4-4h13z" fill="#955ba5" /><path id="Shape" d="m36 44h-30c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1h30c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" fill="#ecf0f1" /><path id="Shape" d="m12 35h-6c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1h6c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" fill="#ecf0f1" /><path id="Shape" d="m12 26h-6c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1h6c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" fill="#ecf0f1" /><path id="Shape" d="m12 4v30c0 2.209139 1.790861 4 4 4h22.418c.3802081-.0002051.7525334.1084042 1.073.313l10.509 6.687v-5c0-1.1045695.8954305-2 2-2h2c2.209139 0 4-1.790861 4-4v-30c0-2.209139-1.790861-4-4-4h-38c-2.209139 0-4 1.790861-4 4z" fill="#f0c419" /><path id="Shape" d="m48 9h2c1.1032019.0032948 1.9967052.89679813 2 2v21c-.0032948 1.1032019-.8967981 1.9967052-2 2h-30c-1.1032019-.0032948-1.9967052-.8967981-2-2v-21c.0032948-1.10320187.8967981-1.9967052 2-2z" fill="#a56a43" /><path id="Shape" d="m35 8v21c-.0049493-2.2070857-1.7929143-3.9950507-4-4h-9v-20c0-.55228475.4477153-1 1-1h8c1.0606427.00189418 2.0776689.42236085 2.83 1.17.0618307.05851612.1186929.12206803.17.19.6431109.72921694.9986009 1.66771041 1 2.64z" fill="#ecf0f1" /><path id="Shape" d="m48 5v20h-9c-2.2070857.0049493-3.9950507 1.7929143-4 4v-21c.0049493-2.2070857 1.7929143-3.99505074 4-4h8c.5522847 0 1 .44771525 1 1z" fill="#ecf0f1" /><path id="Shape" d="m48 25v4c0 .5522847-.4477153 1-1 1h-12v-1c0-2.209139 1.790861-4 4-4z" fill="#bdc3c7" /><path id="Shape" d="m35 29v1h-12c-.5522847 0-1-.4477153-1-1v-4h9c2.209139 0 4 1.790861 4 4z" fill="#bdc3c7" /><g fill="#3f5c6c"><path id="Shape" d="m31 9h-5c-.5522847 0-1-.44771525-1-1s.4477153-1 1-1h5c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m31 13h-5c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h5c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m31 17h-5c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h5c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m31 21h-5c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h5c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m44 9h-5c-.5522847 0-1-.44771525-1-1s.4477153-1 1-1h5c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m44 13h-5c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h5c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m44 17h-5c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h5c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" /><path id="Shape" d="m44 21h-5c-.5522847 0-1-.4477153-1-1s.4477153-1 1-1h5c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1z" /></g><path id="Shape" d="m36 5.36v21c-.6431109.7292169-.9986009 1.6677104-1 2.64-.0013991-.9722896-.3568891-1.9107831-1-2.64v-21c.6431109.72921694.9986009 1.66771041 1 2.64.0013991-.97228959.3568891-1.91078306 1-2.64z" fill="#d1d4d1" /></g></g></svg></a>
                                    </td>

                                    @if (item.IsActive)
                                    {
                                        <td><svg height="24" width="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#E3FBCE" /><path d="m256 128c-70.574219 0-128 57.425781-128 128s57.425781 128 128 128 128-57.425781 128-128-57.425781-128-128-128zm0 170.671875c-23.519531 0-42.671875-19.136719-42.671875-42.671875s19.152344-42.671875 42.671875-42.671875 42.671875 19.152344 42.671875 42.671875-19.152344 42.671875-42.671875 42.671875zm0 0" fill="#9CEE53" /></svg></td>

                                    }
                                    else
                                    {
                                        <td><svg height="24" width="24" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m416 512h-320c-53.023438 0-96-42.976562-96-96v-320c0-53.023438 42.976562-96 96-96h320c53.023438 0 96 42.976562 96 96v320c0 53.023438-42.976562 96-96 96zm0 0" fill="#ffe6e2" /><path d="m256 128c-70.574219 0-128 57.425781-128 128s57.425781 128 128 128 128-57.425781 128-128-57.425781-128-128-128zm0 170.671875c-23.519531 0-42.671875-19.136719-42.671875-42.671875s19.152344-42.671875 42.671875-42.671875 42.671875 19.152344 42.671875 42.671875-19.152344 42.671875-42.671875 42.671875zm0 0" fill="#fc573b" /></svg></td>

                                    }
                                    <td>
                                        <a onclick="openValidateDialog(this, '@item.Fullname', @item.CommentId, @count )" style="cursor:pointer" title="Onayla">
                                            <svg height="24" width="24" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <path style="fill:#A5EB78;" d="M433.139,67.108L201.294,298.953c-6.249,6.249-16.381,6.249-22.63,0L78.861,199.15L0,278.011
	                                                    l150.547,150.549c10.458,10.458,24.642,16.333,39.431,16.333l0,0c14.788,0,28.973-5.876,39.43-16.333L512,145.968L433.139,67.108z" />







                                            <g style="opacity:0.1;">
                                            <path d="M485.921,119.888L187.59,418.22c-8.254,8.253-18.633,13.882-29.847,16.391c9.363,6.635,20.608,10.28,32.235,10.28l0,0
		                                                    c14.788,0,28.973-5.876,39.43-16.333L512,145.966L485.921,119.888z" />







                                                    </g>
                                                    </svg>
                                            /
                                            <svg height="24" width="24" viewBox="0 -11 484.44437 484" xmlns="http://www.w3.org/2000/svg"><path d="m451.410156 198.648438v169.089843l28.128906 73.429688c4.085938 10.667969-6.382812 21.136719-17.050781 17.050781l-77.898437-29.839844h-162.90625c-21.878906 0-39.609375-17.734375-39.609375-39.609375v-190.121093c0-21.875 17.734375-39.605469 39.609375-39.605469h190.117187c21.878907 0 39.609375 17.734375 39.609375 39.605469zm0 0" fill="#a4c9ff" /><path d="m467.292969 463.125c-2.078125 0-4.1875-.378906-6.238281-1.167969l-77.207032-29.578125h-162.167968c-24.042969 0-43.609376-19.5625-43.609376-43.605468v-190.125c0-24.042969 19.5625-43.605469 43.609376-43.605469h190.121093c24.046875 0 43.613281 19.5625 43.613281 43.605469v168.351562l27.863282 72.738281c2.460937 6.429688.96875 13.449219-3.902344 18.320313-3.316406 3.316406-7.632812 5.066406-12.082031 5.066406zm-245.613281-300.082031c-19.632813 0-35.609376 15.972656-35.609376 35.605469v190.125c0 19.632812 15.972657 35.605468 35.609376 35.605468h162.910156c.484375 0 .972656.089844 1.429687.265625l77.898438 29.839844c3.488281 1.339844 7.15625.558594 9.796875-2.085937 2.644531-2.640626 3.425781-6.304688 2.085937-9.796876l-28.125-73.429687c-.175781-.457031-.265625-.941406-.265625-1.429687v-169.089844c0-19.632813-15.972656-35.609375-35.609375-35.609375zm0 0" fill="#3762cc" /><path d="m379.53125 362.464844c-.945312-1-1.414062-2.300782-1.328125-3.671875.09375-1.414063.757813-2.699219 1.878906-3.609375 21.34375-17.449219 33.097657-43.328125 33.097657-72.878906 0-53.5625-40.394532-93.957032-93.957032-93.957032-53.566406 0-93.957031 40.394532-93.957031 93.957032 0 53.710937 40.390625 94.210937 93.957031 94.210937 7.617188 0 14.507813-.703125 21.078125-2.148437.347657-.078126.707031-.117188 1.058594-.117188 1.363281 0 2.679687.578125 3.609375 1.582031l24.65625 26.675781c2.445312 2.644532 5.914062 4.164063 9.515625 4.164063h12.0625c5.253906 0 9.8125-3 11.894531-7.824219 2.082032-4.828125 1.132813-10.203125-2.472656-14.027344zm-60.308594-140.777344c33.679688 0 56.308594 24.363281 56.308594 60.621094 0 36.558594-22.628906 61.125-56.308594 61.125-33.683594 0-56.3125-24.566406-56.3125-61.125 0-36.257813 22.628906-60.621094 56.3125-60.621094zm0 0" fill="#f9cfcf" /><path d="m391.203125 410.671875h-12.0625c-4.710937 0-9.25-1.984375-12.453125-5.445313l-24.65625-26.679687c-.214844-.234375-.535156-.34375-.878906-.269531-6.84375 1.507812-14.019532 2.242187-21.929688 2.242187-55.847656 0-97.957031-42.222656-97.957031-98.210937 0-55.847656 42.113281-97.957032 97.957031-97.957032s97.957032 42.113282 97.957032 97.957032c0 30.773437-12.277344 57.75-34.566407 75.972656-.261719.214844-.394531.464844-.414062.773438-.019531.257812.0625.476562.242187.664062 0 0 0 .003906.003906.003906l21.09375 22.355469c4.71875 5.003906 5.957032 12.039063 3.234376 18.355469-2.726563 6.316406-8.691407 10.238281-15.570313 10.238281zm-49.84375-40.417969c2.476563 0 4.863281 1.042969 6.542969 2.863282l24.660156 26.679687c1.691406 1.828125 4.085938 2.875 6.574219 2.875h12.0625c3.632812 0 6.785156-2.070313 8.226562-5.40625 1.4375-3.339844.78125-7.054687-1.710937-9.699219l-21.09375-22.355468c-1.710938-1.8125-2.570313-4.183594-2.410156-6.671876.167968-2.539062 1.351562-4.832031 3.339843-6.453124 20.394531-16.667969 31.625-41.453126 31.625-69.777344 0-51.285156-38.671875-89.957032-89.957031-89.957032s-89.957031 38.671876-89.957031 89.957032c0 51.425781 38.675781 90.210937 89.957031 90.210937 7.324219 0 13.9375-.671875 20.21875-2.058593.644531-.140626 1.285156-.207032 1.921875-.207032zm-22.136719-22.824218c-36.074218 0-60.3125-26.167969-60.3125-65.125 0-38.648438 24.238282-64.617188 60.3125-64.617188 36.070313 0 60.308594 25.964844 60.308594 64.617188 0 38.953124-24.238281 65.125-60.308594 65.125zm0-121.742188c-31.289062 0-52.3125 22.753906-52.3125 56.621094 0 34.164062 21.023438 57.125 52.3125 57.125 31.289063 0 52.308594-22.957032 52.308594-57.125 0-33.867188-21.019531-56.621094-52.308594-56.621094zm0 0" fill="#3762cc" /><path d="m33.035156 43.832031v169.089844l-28.132812 73.425781c-4.085938 10.667969 6.386718 21.136719 17.054687 17.050782l77.898438-29.839844h162.910156c21.875 0 39.605469-17.734375 39.605469-39.609375v-190.117188c0-21.878906-17.734375-39.609375-39.605469-39.609375h-190.125c-21.875 0-39.605469 17.730469-39.605469 39.609375zm0 0" fill="#6bdddd" /><path d="m17.148438 308.304688c-4.445313 0-8.761719-1.75-12.078126-5.070313-4.871093-4.867187-6.367187-11.886719-3.902343-18.316406l27.867187-72.738281v-168.347657c0-24.046875 19.5625-43.609375 43.609375-43.609375h190.121094c24.042969 0 43.609375 19.5625 43.609375 43.609375v190.117188c0 24.046875-19.5625 43.609375-43.609375 43.609375h-162.167969l-77.210937 29.578125c-2.046875.785156-4.15625 1.167969-6.238281 1.167969zm55.492187-300.082032c-19.632813 0-35.609375 15.972656-35.609375 35.609375v169.089844c0 .488281-.089844.972656-.265625 1.429687l-28.128906 73.425782c-1.335938 3.492187-.554688 7.15625 2.089843 9.800781 2.644532 2.644531 6.304688 3.421875 9.796876 2.085937l77.898437-29.84375c.457031-.171874.945313-.261718 1.433594-.261718h162.90625c19.632812 0 35.609375-15.972656 35.609375-35.609375v-190.117188c0-19.636719-15.972656-35.609375-35.609375-35.609375zm-39.609375 204.699219h.019531zm0 0" fill="#3762cc" /><path d="m251.152344 208.203125-59.570313-166.519531c-1.269531-3.539063-4.644531-5.917969-8.402343-5.917969h-26.511719c-3.761719 0-7.136719 2.378906-8.402344 5.917969l-59.574219 166.519531c-.976562 2.730469-.5625 5.773437 1.105469 8.144531 1.671875 2.371094 4.398437 3.785156 7.296875 3.785156h19.675781c3.777344 0 7.160157-2.394531 8.417969-5.957031l10.355469-29.40625c.128906-.371093.480469-.617187.871093-.617187h66.769532c.386718 0 .742187.246094.871094.617187l10.355468 29.40625c1.257813 3.5625 4.640625 5.957031 8.417969 5.957031h19.929687c2.898438 0 5.625-1.414062 7.292969-3.785156 1.671875-2.375 2.082031-5.417968 1.101563-8.144531zm-82.125-118.917969c.054687-.152344.21875-.617187.871094-.617187.660156 0 .820312.464843.878906.617187l21.710937 62.070313c.128907.371093.007813.660156-.121093.839843-.125.179688-.359376.390626-.753907.390626h-43.617187c-.398438 0-.628906-.214844-.757813-.390626-.125-.179687-.25-.46875-.117187-.84375zm0 0" fill="#f9a7a7" /><path d="m242.753906 224.132812h-19.929687c-5.472657 0-10.371094-3.46875-12.191407-8.628906l-9.628906-27.355468h-62.414062l-9.628906 27.351562c-1.820313 5.164062-6.71875 8.632812-12.191407 8.632812h-19.675781c-4.199219 0-8.148438-2.050781-10.566406-5.484374-2.417969-3.433594-3.015625-7.84375-1.601563-11.792969l59.574219-166.519531c1.832031-5.128907 6.71875-8.570313 12.167969-8.570313h26.511719c5.445312 0 10.335937 3.441406 12.167968 8.570313l59.574219 166.515624c1.414063 3.949219.816406 8.363282-1.605469 11.796876-2.417968 3.4375-6.367187 5.484374-10.5625 5.484374zm-106.339844-43.984374h66.765626c2.09375 0 3.957031 1.328124 4.644531 3.300781l10.355469 29.394531c.691406 1.964844 2.558593 3.289062 4.644531 3.289062h19.929687c1.597656 0 3.105469-.78125 4.027344-2.089843.917969-1.308594 1.148438-2.988281.609375-4.492188l-59.574219-166.519531c-.699218-1.953125-2.5625-3.265625-4.636718-3.265625h-26.511719c-2.074219 0-3.941407 1.3125-4.636719 3.265625l-59.574219 166.519531c-.539062 1.503907-.308593 3.183594.609375 4.492188.921875 1.308593 2.429688 2.089843 4.03125 2.089843h19.671875c2.085938 0 3.953125-1.324218 4.648438-3.292968l10.351562-29.402344c.683594-1.960938 2.550781-3.289062 4.644531-3.289062zm63.863282 5.949218c0 .003906.003906.007813.003906.011719zm-60.960938-.011718-.003906.015624c0-.003906.003906-.011718.003906-.015624zm52.296875-29.5h-43.617187c-1.613282 0-3.074219-.753907-4.015625-2.066407-.941407-1.34375-1.167969-2.972656-.632813-4.492187l21.910156-62.078125c0-.003907.003907-.015625.007813-.019531.71875-2.011719 2.496094-3.265626 4.632813-3.265626 2.140624 0 3.917968 1.25 4.640624 3.265626l21.722657 62.101562c.539062 1.527344.304687 3.164062-.636719 4.484375-.90625 1.300781-2.375 2.070313-4.011719 2.070313zm-39.273437-8h34.941406l-17.390625-49.722657zm0 0" fill="#3762cc" /></svg>

                                        </a>
                                    </td>
                                    <td>
                                        <a id="btnDelete@(count)" title="Sil" onclick="deleteConfirmation(this.id, @(count))" style="cursor:pointer;text-decoration:none;">
                                            <svg height="24" width="24" viewBox="-64 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 80h-32v-48h-64v48h-32v-80h128zm0 0" fill="#62808c" /><path d="m304 512h-224c-26.507812 0-48-21.492188-48-48v-336h320v336c0 26.507812-21.492188 48-48 48zm0 0" fill="#e76e54" /><path d="m384 160h-384v-64c0-17.671875 14.328125-32 32-32h320c17.671875 0 32 14.328125 32 32zm0 0" fill="#77959e" /><path d="m260 260c-6.246094-6.246094-16.375-6.246094-22.625 0l-41.375 41.375-41.375-41.375c-6.25-6.246094-16.378906-6.246094-22.625 0s-6.246094 16.375 0 22.625l41.375 41.375-41.375 41.375c-6.246094 6.25-6.246094 16.378906 0 22.625s16.375 6.246094 22.625 0l41.375-41.375 41.375 41.375c6.25 6.246094 16.378906 6.246094 22.625 0s6.246094-16.375 0-22.625l-41.375-41.375 41.375-41.375c6.246094-6.25 6.246094-16.378906 0-22.625zm0 0" fill="#fff" /></svg>
                                        </a>
                                        <div id="deteleConfirmation@(count)" style="display:none">
                                            <a asp-action="Delete" asp-route-id="@item.CommentId" style="cursor:pointer;text-decoration:none;">
                                                <svg height="24" width="24" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 367.805 367.805" xml:space="preserve">
                                                <g>
                                                <path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902
		                                                                S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z" />































































































































                                                <polygon style="fill:#D4E1F4;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801
		                                                                256.001,103.968 	" />































































































































                                                                </g>

                                                                </svg>
                                            </a>
                                            <a id="deleteClose@(count)" onclick="deleteClose(@(count))" style="cursor:pointer;text-decoration:none;">
                                                <svg height="24" width="24" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                     viewBox="0 0 455.111 455.111" xml:space="preserve">
                                                <circle style="fill:#E24C4B;" cx="227.556" cy="227.556" r="227.556" />































































                                                <path style="fill:#D1403F;" d="M455.111,227.556c0,125.156-102.4,227.556-227.556,227.556c-72.533,0-136.533-32.711-177.778-85.333
	                                                c38.4,31.289,88.178,49.778,142.222,49.778c125.156,0,227.556-102.4,227.556-227.556c0-54.044-18.489-103.822-49.778-142.222
	                                                C422.4,91.022,455.111,155.022,455.111,227.556z" />































































                                                <path style="fill:#FFFFFF;" d="M331.378,331.378c-8.533,8.533-22.756,8.533-31.289,0l-72.533-72.533l-72.533,72.533
	                                                c-8.533,8.533-22.756,8.533-31.289,0c-8.533-8.533-8.533-22.756,0-31.289l72.533-72.533l-72.533-72.533
	                                                c-8.533-8.533-8.533-22.756,0-31.289c8.533-8.533,22.756-8.533,31.289,0l72.533,72.533l72.533-72.533
	                                                c8.533-8.533,22.756-8.533,31.289,0c8.533,8.533,8.533,22.756,0,31.289l-72.533,72.533l72.533,72.533
	                                                C339.911,308.622,339.911,322.844,331.378,331.378z" />































































































































                                                </svg>
                                            </a>
                                        </div>
                                    </td>

                                </tr>

                                count += 1;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#UnApprovedCommentsTable').DataTable();
        });

        function closeDialog() {
            $(".commentDialog").remove();
        }

        function openCommentDialog(element, CommentId) {
            $.ajax({
                url: "/Comment/GetComment",
                data: {
                    commentId: CommentId
                },
                type: "POST",
                success: function (result) {
                    var html = '\
                                <div class="commentDialog">\
                                    <div class="comDialog">\
                                        <div class="closeDialog">\
                                            <a onclick="closeDialog()">x</a>\
                                        </div>\
                                        <p>'+ result +'</p>\
                                    </div>\
                                </div>';
                    $(element).parents(".table-responsive").prepend(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }

            });
        }

        function openValidateDialog(element, userName, commentId, table_row_id) {

            var html = '\
                        <div class="commentDialog">\
                            <div class="comDialog">\
                                <div class="closeDialog">\
                                    <a onclick="closeDialog()">x</a>\
                                </div>\
                                <div>\
                                    <p>"'+userName+'" kişisinin yorumunu onaylayın ve yanıt verin:</p>\
                                </div>\
                                <div class="blog_comment_post">\
                                    <form>\
                                        <div class="form-group">\
                                            <label for="commentArea">Yorumunuzu İletiniz</label>\
                                            <textarea class="form-control commentArea" id="commentArea" rows="3" placeholder="Yorumu Yanıtla(Yanıtlamadan onaylanacaksa form alanları dikkate alınmaz)"></textarea>\
                                        </div>\
                                        <div class="form-row">\
                                            <div class="form-group col-md-6">\
                                                <label for="fullName">İsminiz</label>\
                                                <input type="text" class="form-control fullName" id="fullName" placeholder="İsminizi Giriniz" value="Çetin KESEPARA">\
                                            </div>\
                                            <div class="form-group col-md-6">\
                                                <label for="email">Email Adresiniz</label>\
                                                <input type="email" class="form-control email" id="email" placeholder="Email Adresiniz" value="cetinkesepara@gmail.com">\
                                            </div>\
                                        </div>\
                                        <button onclick="validateComment(this,'+commentId+', '+table_row_id+')" type="button" class="btn btn-block btn-sm" title="Yorum blogda gözükür ancak yoruma karşılık bir yanıt verilmemiş olur.">Yanıtlamadan Onayla(Daha sonra yanıtlanabilir)</button>\
                                        <button onclick="replyAndValidateComment(this,'+commentId+', '+table_row_id+')" type="button" class="btn btn-block btn-sm" title="Yorum onaylanır ve yoruma karşılık bir cevap yazılır.">Yanıtla ve Onayla</button>\
                                    </form>\
                                </div>\
                            </div>\
                        </div>';
            $(element).parents(".table-responsive").prepend(html);
        }

        function validateComment(element,commentId, table_row_id) {
            $.ajax({
                url: "/Comment/ValidateComment",
                data: {
                    CommentId: commentId
                },
                type: "POST",
                success: function (result) {
                    if (result) {
                        var html = '\
                                    <div class="closeDialog">\
                                        <a onclick="closeDialog()">x</a>\
                                    </div>\
                                    <div class="alert alert-success" role="alert" style="margin:20px;">\
                                        Yorum onaylanarak bloğa eklendi.\
                                    </div>';

                        var dialog = $(element).parents(".comDialog")
                        dialog.children().remove();
                        $("#table_row_id_" + table_row_id).remove();
                        dialog.append(html);
                    }
                    else {
                        var html = '\
                            <div class="closeDialog">\
                                <a onclick="closeDialog()">x</a>\
                            </div>\
                            <div class="alert alert-danger" role="alert" style="margin:20px;">\
                                Yorum onaylanırken bir sorun oluştu! Lütfen daha sonra tekrar deneyiniz.\
                            </div>';

                        var dialog = $(element).parents(".comDialog")
                        dialog.children().remove();
                        dialog.append(html);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }

            });
        }

        function replyAndValidateComment(element, commentId, table_row_id) {
            var commentText = $(element).parents(".blog_comment_post").find("textarea.commentArea").val();
            var commentName = $(element).parents(".blog_comment_post").find("input.fullName").val();
            var commentEmail = $(element).parents(".blog_comment_post").find("input.email").val();

            $.ajax({
                url: "/Comment/ReplyValidateComment",
                data: {
                    CommentId: commentId,
                    CommentText: commentText,
                    CommentName: commentName,
                    CommentEmail: commentEmail
                },
                type: "POST",
                success: function (result) {
                    if (result) {
                        var html = '\
                                    <div class="closeDialog">\
                                        <a onclick="closeDialog()">x</a>\
                                    </div>\
                                    <div class="alert alert-success" role="alert" style="margin:20px;">\
                                        Yorum ve cevap, onaylanarak bloğa eklendi.\
                                    </div>';

                        var dialog = $(element).parents(".comDialog")
                        dialog.children().remove();
                        $("#table_row_id_" + table_row_id).remove();
                        dialog.append(html);
                    }
                    else {
                        var html = '\
                            <div class="closeDialog">\
                                <a onclick="closeDialog()">x</a>\
                            </div>\
                            <div class="alert alert-danger" role="alert" style="margin:20px;">\
                                Yorum onaylanırken veya cevaplanırken bir sorun oluştu! Lütfen daha sonra tekrar deneyiniz.\
                            </div>';

                        var dialog = $(element).parents(".comDialog")
                        dialog.children().remove();
                        dialog.append(html);
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }

            });
      
        }

        function deleteConfirmation(btnId, count) {
            var btn = document.getElementById(btnId);
            btn.style.display = "none";
            var deleteConf = "deteleConfirmation" + count;
            document.getElementById(deleteConf).style.display = "block";
        }

        function deleteClose(count) {
            var deleteConf = "deteleConfirmation" + count;
            document.getElementById(deleteConf).style.display = "none";
            var btn = 'btnDelete' + count;
            document.getElementById(btn).style.display = "block";

        }
    </script>
}



